@import "partials/colors";

// content styles
h1.section.header {
	font-size: 1.375rem;
	font-weight: 400;

	position: relative;

	display: inline-block;

	padding: 1rem;

	text-transform: uppercase;

	color: $black2;
	&:after {
		position: absolute;
		top: 50%;
		right: -100px;

		width: 100px;
		height: 1px;

		content: " ";

		background: $white2;
	}
}
