@import "partials/colors";

.profile-state {
	padding-bottom: 25vh;
	.ui.profile.segment {
		overflow: hidden;

		margin: 0;
		padding: 0;

		border-radius: 5px;
		.ui.masthead.segment {
			height: 250px;
			margin: 0;
			margin-bottom: 120px;
			padding: 30px 20px 10px 20px;

			color: $white1;
			background: $blue1;
			.photo {
				width: 240px;

				border-radius: 3px;
				box-shadow: 0 0 0 6px $white1;
			}
			.name {
				font-size: 2.25rem;
				line-height: 1.15em;

				position: absolute;
				bottom: 20px;
				left: 280px;
				.lastname {
					font-weight: 900;
				}
				.firstname {
					font-weight: 700;
				}
			}
			.position {
				font-size: 1.75rem;

				position: absolute;
				bottom: -40px;
				left: 280px;

				color: $black2;
			}
			.compare {
				position: absolute;
				right: 20px;
				bottom: -50px;

				width: 250px;
				.ui.query-results.segment {
					position: absolute;
					z-index: 100000;
					top: 46px;
					right: 0;

					overflow: scroll;

					width: 250px;
					min-height: 50px;
					max-height: 250px;
					margin-top: 1rem;
					padding: 0;

					border-radius: 5px;
					background: lighten($white1,0.02);
					box-shadow: 0 3px 5px rgba($black2,0.5);
					.query-result {
						line-height: 30px;

						display: block;

						height: 50px;
						padding: 10px 20px;

						cursor: pointer;
						transition: background 0.25s ease;

						color: $blue1;
						&:hover {
							background: lighten($blue5, 0.2);
						}
						.lastname {
							font-weight: 900;
						}
						.firstname {
							font-weight: 700;
						}
						.position {
							float: right;

							color: $black2;
						}
					}
					.query-no-result {
						line-height: 30px;

						display: block;

						height: 50px;
						padding: 10px 20px;

						color: $black2;
					}
				}
			}
		}
		.intro {
			font-size: 1.275rem;

			padding: 0 5rem 0 3rem;

			text-align: justify;
			text-indent: 5rem;
		}
		.dummy-pic {
			width: 100%;
		}
	}
	.mobile.only {
		.ui.profile.segment {
			.ui.masthead.segment {
				height: 320px;
				margin-bottom: 60px;

				text-align: center;
				.photo {
					width: 160px;
					margin: auto;

					border-radius: 3px;
					box-shadow: 0 0 0 6px $white1;
				}
				.name {
					font-size: 1.75rem;
					line-height: 1.15em;

					position: absolute;
					bottom: 10px;
					left: 0;

					width: 100%;
				}
				.position {
					font-size: 1.25rem;

					position: absolute;
					bottom: -30px;
					left: 0;

					width: 100%;
				}
			}
			.intro {
				font-size: 1.275rem;

				padding: 0 2rem;

				text-indent: 3rem;
			}
		}
	}
}
