<div class="home-state">
	<top-menu></top-menu>
	<a class="game-link" ui-sref="game">
		Need help deciding on who you should vote this coming election?
		<div>
			<i class="help circle icon"></i>
		</div>
	</a>
	<div class="ui grid container">
		<h1 class="section header">Browse Politicians</h1>
	</div>
	<div class="ui two column very relaxed stackable grid container segment">
		<div class="column">
			<div class="ui search">
				<div class="ui fluid icon input">
					<input class="prompt" placeholder="Search name" ng-model="query" ng-change="update()" type="text" autofocus>
					<i class="search icon"></i>
				</div>
				<div class="ui query-results segment" ng-hide="emptyQuery">
					<div ng-hide="resultsFound" class="query-no-result">
						No results found.
					</div>
					<a ng-show="resultsFound" ng-repeat="result in results | orderBy:person_lastName" class="query-result"
						ui-sref="profile({personId:result.person_id})">
						<span class="lastname">{{result.person_lastName}}</span>,
						<span class="firstname">{{result.person_firstName}}</span>
						<span class="position">{{result.person_position}}</span>
					</a>
				</div>
			</div>
		</div>
		<div class="ui vertical divider"></div>
		<div class="category column">
			<h3>Browse by Position</h3>
			<div class="ui styled fluid accordion">
				<div class="title">
					<i class="dropdown icon"></i>
					President
				</div>
				<div class="content">
					<a class="category-item" ui-sref="profile({personId:president[0].person_id})">
						<span class="lastname">{{president[0].person_lastName}}</span>,
						<span class="firstname">{{president[0].person_firstName}}</span>
					</a>
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					Vice President
				</div>
				<div class="content">
					<a class="category-item" ui-sref="profile({personId:vicepresident[0].person_id})">
						<span class="lastname">{{vicepresident[0].person_lastName}}</span>,
						<span class="firstname">{{vicepresident[0].person_firstName}}</span>
					</a>
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					Senators
				</div>
				<div class="content">
					<a ng-repeat="senator in senators" class="category-item"
						ui-sref="profile({personId:senator.person_id})">
						<span class="lastname">{{senator.person_lastName}}</span>,
						<span class="firstname">{{senator.person_firstName}}</span>
					</a>
				</div>
				<div class="title">
					<i class="dropdown icon"></i>
					Governors
				</div>
				<div class="content">
					<a ng-repeat="governor in governors" class="category-item"
						ui-sref="profile({personId:governor.person_id})">
						<span class="lastname">{{governor.person_lastName}}</span>,
						<span class="firstname">{{governor.person_firstName}}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="ui grid container">
		<h1 class="section header">Recent News</h1>
	</div>
	<div class="ui three column stackable centered grid container segment announcements">
		<div ng-repeat="announcement in announcements" class="five wide column announcement">
			<a class="title" ui-sref="announcement({announcementId:announcement.announcement_id})">
				{{announcement.announcement_title}}
			</a>
			<div class="content">
				<div class="timestamp">{{announcement.announcement_timestamp}}</div>
				<div class="summary">{{announcement.announcement_summary}}</div>
			</div>
		</div>
	</div>
</div>
