<div class="results-state">
	<top-menu></top-menu>
	<div class="ui centered grid container">
		<div class="sixteen wide mobile tablet eleven wide computer column">
			<h1 class="section header">Results</h1>
		</div>
	</div>
	<div class="ui centered grid container">
		<div class="sixteen wide mobile tablet eleven wide computer column ui segment results">
			<div class="allocations-bar">
				<span style="width:{{water}};"></span>
				<span style="width:{{education}};"></span>
				<span style="width:{{transportation}};"></span>
				<span style="width:{{infrastructure}};"></span>
				<span style="width:{{livelihood}};"></span>
			</div>
			<div class="ui five column equal width grid allocations">
				<div class="column">
					<div class="ui small statistic">
						<span class="value">
							{{water}}
						</span>
						<span class="label">
							Water
						</span>
					</div>
				</div>
				<div class="column">
					<div class="ui small statistic">
						<span class="value">
							{{education}}
						</span>
						<span class="label">
							Education
						</span>
					</div>
				</div>
				<div class="column">
					<div class="ui small statistic">
						<span class="value">
							{{transportation}}
						</span>
						<span class="label">
							Transportation
						</span>
					</div>
				</div>
				<div class="column">
					<div class="ui small statistic">
						<span class="value">
							{{infrastructure}}
						</span>
						<span class="label">
							Infrastructure
						</span>
					</div>
				</div>
				<div class="column">
					<div class="ui small statistic">
						<span class="value">
							{{livelihood}}
						</span>
						<span class="label">
							Livelihood
						</span>
					</div>
				</div>
			</div>
			<div class="ui result-divider divider"></div>
			<div class="correlations">Here are some politicians who follow a similar PDAF allocation:</div>
			<a class="ui three column stackable grid correlated-person"
				ui-sref="profile({personId:correlation_person_1_id})">
				<div class="three wide picture column">
					<img src="http://placekitten.com/860/860" alt="photo">
				</div>
				<div class="nine wide mid-content column">
					<div class="name">
						<span class="lastname">{{correlation_person_1_last_name}}</span>,
						<span class="firstname">{{correlation_person_1_first_name}}</span>
					</div>
					<div class="position">{{correlation_person_1_position}}</div>
				</div>
				<div class="four wide value column">
					{{correlation_value_first}}
				</div>
			</a>
			<a class="ui three column stackable grid correlated-person"
				ui-sref="profile({personId:correlation_person_2_id})">
				<div class="three wide picture column">
					<img src="http://placekitten.com/860/860" alt="photo">
				</div>
				<div class="nine wide mid-content column">
					<div class="name">
						<span class="lastname">{{correlation_person_2_last_name}}</span>,
						<span class="firstname">{{correlation_person_2_first_name}}</span>
					</div>
					<div class="position">{{correlation_person_2_position}}</div>
				</div>
				<div class="four wide value column">
					{{correlation_value_second}}
				</div>
			</a>
			<a class="ui three column stackable grid correlated-person"
				ui-sref="profile({personId:correlation_person_3_id})">
				<div class="three wide picture column">
					<img src="http://placekitten.com/860/860" alt="photo">
				</div>
				<div class="nine wide mid-content column">
					<div class="name">
						<span class="lastname">{{correlation_person_3_last_name}}</span>,
						<span class="firstname">{{correlation_person_3_first_name}}</span>
					</div>
					<div class="position">{{correlation_person_3_position}}</div>
				</div>
				<div class="four wide value column">
					{{correlation_value_third}}
				</div>
			</a>
		</div>
	</div>
</div>
