<div class="color-bar">
	<span></span>
	<span></span>
	<span></span>
	<span></span>
	<span></span>
</div>
<div class="ui container">
	<div class="ui secondary menu">
		<a class="header item" ui-sref="home">
			<i class="selected radio icon"></i>
			Billiones
		</a>
	</div>
</div>
