<div class="compare-state">
	<top-menu></top-menu>
	<div class="ui centered grid container">
		<div class="sixteen wide mobile only column">
			<div class="ui profile segment">
				<div class="not-supported">
					Sorry, this feature isn't supported in the mobile version.
				</div>
			</div>
		</div>
		<div class="fourteen wide tablet computer only column">
			<div class="ui profile segment">
				<div class="mastheads">
					<div class="ui masthead segment">
						<img class="photo" src="http://placekitten.com/240/320" alt="photo">
						<span class="name">
							<span class="lastname">{{person1[0].person_lastName}}</span>,
							<span class="firstname">{{person1[0].person_firstName}}</span>
						</span>
						<span class="position">{{person1[0].person_position}}</span>
					</div>
					<div class="ui masthead segment">
						<img class="photo" src="http://placekitten.com/240/320" alt="photo">
						<span class="name">
							<span class="lastname">{{person2[0].person_lastName}}</span>,
							<span class="firstname">{{person2[0].person_firstName}}</span>
						</span>
						<span class="position">{{person2[0].person_position}}</span>
					</div>
				</div>
				<br/><br/>
				<h1 class="section header">SALN Timelines</h1>
				<img class="dummy-pic" src="../frontend/assets/img/graph-comp-1.svg" />
				<br/><br/>
				<h1 class="section header">Spendings</h1>
				<img class="dummy-pic" src="../frontend/assets/img/graph-solo-2.svg" />
				<br/><br/>
				<h1 class="section header">Donors</h1>
				<img class="dummy-pic" src="../frontend/assets/img/graph-solo-3.svg" />
			</div>
		</div>
	</div>
</div>
